:root{
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--primary: #29c785;
--secondary: #444857;
--surface: #2D303A;
--lighter: #f0f0f0;
--darker: #333;
--radius: 4px;
--shadow-sm: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
--shadow-md: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
--shadow-lg: 0px 1px 8px 0px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 3px 3px -2px rgba(0,0,0,0.12);
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-sans-serif);
  overflow-y: hidden;
}

a {
  color:var(--primary);
  text-decoration: none;
}

label {
  display: block;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button, select {
	padding: 0.5em;
	border: 1px solid var(--secondary);
	font-weight: bold;
  border-radius: var(--radius);
  background: var(--secondary);
  color: var(--light);
  fill: var(--light);
}
button:hover {
  fill: var(--primary);
  color: var(--primary);
  cursor: pointer;
}
pre{
  font-family: var(--font-family-monospace);
  background: var(--dark);
  color: var(--light);
}