@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

html,
body {
  font-family: Roboto;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: mediumseagreen;
  text-decoration: none;
}

label {
  display: block;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

